APP_NAME=daptrax-api
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_MIGRATIONS=postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require

FRONTEND_URL=http://localhost:5173

SESSION_COOKIE_NAME=daptrax_session
SESSION_DAYS=7